body{padding:0;margin:0;font-family:'Microsoft YaHei',"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.428571429}
body.layout{min-width:1000px}
table { border-collapse:collapse;border-spacing:0;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
iframe{border:none}
[ng-click]{cursor:pointer}
ol,ul{display:inline-block;margin:0 auto;padding:0;list-style:none}
.wrapper{position:relative;width:1000px;margin:0 auto}
.banner .wrapper img{ display: block; }
#logingame-body,#announcement-dialog .modal-announcement>.ma-title,#announcement-dialog .modal-announcement>.ma-footer,#announcement-dialog .modal-announcement .ma-sidebar li:hover,#announcement-dialog .modal-announcement .ma-sidebar li.active{background:#252525}
#header{position:fixed;top:0;left:0;right:0;z-index:5;min-width:1000px;height:80px;font-size:0;background-color:#252525}
#logo-bg{display:inline-block;width:250px;height:64px;vertical-align:top;margin:8px 0;background:url('../images/logo.png') no-repeat left center}
#logo-bg>a{display:inline-block;width:100%;height:100%}
#nav{display:inline-block;margin-left:15px;vertical-align:top}
#nav>ul>li{display:inline-block;width:55px;height:80px;vertical-align:top}
#nav>ul>li>a{position:relative;display:inline-block;width:100%;height:100%;padding-top:30px;color:#fff;font-size:15px;font-weight:bold;text-align:center;text-decoration:none}
#nav>ul>li.hot>a:before{content:'';position:absolute;top:13px;right:-8px;z-index:1;width:23px;height:26px;background:url('../images/hot.gif') no-repeat center top}
#nav>ul>li.hot2>a:before{content:'';position:absolute;top:13px;right:-8px;z-index:1;width:20px;height:24px;background:url('../images/hot2.gif') no-repeat center top}
#nav>ul>li:hover>a{background-color:#000}
#nav>ul>li:hover .subnav,#nav>ul>li:hover .subnav-home{display:block}
.subnav{display:none;position:absolute;top:85px;z-index:3;width:164px;margin-left:-54.5px;padding:0 10px;font-size:0;background:url('../images/subnav_bg.png') repeat;border:2px solid #ff1818}
.subnav:before{content:'';position:absolute;top:-9px;right:0;left:0;height:7px;background:url('../images/subnav_arrow.png') no-repeat center bottom}
.subnav ol{display:inline-block;vertical-align:top}
.subnav.col2{width:304px;margin-left:-124.5px} 122
.subnav.col3{width:444px;margin-left:-194.5px}
.subnav li{position:relative;width:140px;height:36px;color:#fff;text-align:center;font-size:13px;line-height:35px;border-bottom:1px solid #2b2b2b}
.subnav li a{display:inline-block;width:100%;height:100%;color:inherit;text-decoration:none}
.subnav li.red,
.subnav li:hover{color:#ff1818}
.subnav .hot:before{content:'';position:absolute;top:3px;right:-5px;width:23px;height:26px;background:url('../images/hot.gif') no-repeat center top}
.subnav .hot2:before{content:'';position:absolute;top:3px;right:-5px;width:20px;height:24px;background:url('../images/hot2.gif') no-repeat center top}
.subnav .hot3:before{content:'';position:absolute;top:3px;right:-5px;width:20px;height:24px;background:url('../images/hot3.gif') no-repeat center top}
.subnav-home{display:none;position:absolute;top:85px;left:0;width:1000px;z-index:3;padding:13px 10px 15px;font-size:0;background:url('../images/subnav_bg.png') repeat;border:2px solid #ff1818}
.subnav-home:before{content:'';position:absolute;top:-9px;right:0;left:0;height:7px;background:url('../images/subnav_arrow.png') no-repeat 281px bottom}
.subnav-home .column{display:inline-block;vertical-align:top;width:25%;padding:0 18px}
.subnav-home .column+.column{border-left:1px dashed #757474}
.subnav-home .column .title{margin:0;padding-bottom:8px;color:#cc9800;font-size:16px;font-weight:normal;line-height:16px;border-bottom:1px solid #2b2b2b}
.subnav-home .column .list{display:block}
.subnav-home .column .list li{display:inline-block;width:50%;margin:12px 0;color:#fff;font-size:12px;line-height:15px;vertical-align:top;border-right:1px solid #2b2b2b}
.subnav-home .column .list li.red{color:red}
.subnav-home .column .list li:hover{color:#ff1818;font-weight:bold}
.subnav-home .column .list li a{display:block;color:inherit;text-decoration:none}
.subnav-home .column .list li:nth-child(even){padding-left:20px;border-right:none}
#language{position:absolute;top:34px;right:0}
#language span{display:inline-block;width:20px;height:14px;vertical-align:top;margin-left:4px;background-repeat:no-repeat;background-position:center top;cursor:pointer}
#language span[data-language="zh-CN"]{background-image:url('../images/lang_cn.png')}
#language span[data-language="zh-TW"]{background-image:url('../images/lang_tw.png')}
#language span[data-language="en-US"]{background-image:url('../images/lang_en.png')}
#language span[data-language="th"]{display:none}
#link-area{position:relative;min-width:1000px;margin:80px 0 52px;padding:26px 0 3px;font-size:0;white-space:normal;background-color:#fff;border-bottom:1px solid #e6e6e6;z-index:4}
#link-area ul{display:block;white-space:nowrap}
#link-area ul li{position:relative;display:inline-block;width:406px;padding:0 0 18px;vertical-align:top}
#link-area ul li+li{padding-left:31px}
#link-area ul li+li:before{content:'';position:absolute;top:-4px;left:0;width:1px;height:50px;background:url('../images/link_line.png') no-repeat center center}
#link-area ul li.list-1{width:215px;padding-left:0}
#link-area ul li.list-1 .licence{position:relative}
#link-area ul li.list-1 .licence:before{content:'';position:absolute;top:100%;left:0;width:218px;height:0;z-index:1;background:url('../images/license.png') no-repeat center top;opacity:0;filter:alpha(opacity=0);-moz-transition:all .8s;-o-transition:all .8s;-webkit-transition:all .8s;transition:all .8s}
#link-area ul li.list-1 .licence:hover:before{height:281px;opacity:1;filter:alpha(opacity=100)}
#link-area ul li.list-1 .app{position:relative}
#link-area ul li.list-1 .app:before{content:'';position:absolute;top:100%;left:50%;margin-left:-177px;width:354px;height:0;z-index:1;background:url('http://107.151.64.94/15-app.png') no-repeat center top;opacity:0;filter:alpha(opacity=0);-moz-transition:all .8s;-o-transition:all .8s;-webkit-transition:all .8s;transition:all .8s}
#link-area ul li.list-1 .app:hover:before{height:263px;opacity:1;filter:alpha(opacity=100)}
#link-area ul li.list-3{overflow:hidden;width:390px}
#link-area ul li div{margin-top:-3px}
#link-area ul li div+div{margin-top:10px}
#link-area ul li div>*{display:inline-block;font-size:13px;vertical-align:top;margin:0}
#link-area ul li div h4{min-width:50px;margin-right:5px;color:#1b1b1b;font-weight:700}
#link-area ul li div a{position:relative;min-width:80px;color:#666;text-decoration:none}
#link-area ul li a.purple{color:#ff14ff}
#link-area ul li a.lightblue{color:#54bfef}
#link-area ul li a.red{color:#ff1818}
#link-area ul li a.blue{color:#1f1ffe}
#link-area ul li a:hover{color:#ff1818;font-weight:bold}
#account-section{position:absolute;top:171px;right:0;left:0;z-index:3;min-width:1000px;height:52px;font-size:0;background:url('../images/login_bg.png') repeat-x center top}
#account-section.ScrollTop{position:fixed;top:80px}
#account-box{text-align:right;line-height:52px}
#account-box:before{content:'';float:left;display:inline-block;width:180px;height:52px;vertical-align:middle;margin-right:12px;background:url('../images/domain.png') no-repeat left center}
#account-box>form{position:relative;/*display:inline-block;*/vertical-align:middle}
#account-box>form input{width:180px;height:34px;vertical-align:middle;margin-right:10px;padding:0 3px 0 6px;color:#959595;font-size:14px;background-color:#fff;background-repeat:no-repeat;background-position:10px center;border:1px solid #dadada;outline:none;-moz-transition:border-color ease .4s;-o-transition:border-color ease .4s;-webkit-transition:border-color ease .4s;transition:border-color ease .4s}
#account-box>form input:focus{border-color:#ff1818}
#account-box>form input::-webkit-input-placeholder{color:inherit}
#account-box>form input:-ms-input-placeholder{color:#959595}
#account-box>form input::-moz-placeholder{color:inherit}
#account-box>form input.placeholdersjs{color:#959595}
#account-box>form input#login_account{padding-left:30px;background-image:url('../images/icon_account.png')}
#account-box>form input#login_password{padding-left:30px;background-image:url('../images/icon_pwd.png')}
#account-box>form #check-code-wrapper input{width:160px}
#account-box>form button{display:inline-block;width:90px;height:34px;vertical-align:middle;margin-right:8px;color:#fff;font-size:14px;line-height:34px;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-transition:background-color .4s;-o-transition:background-color .4s;-webkit-transition:background-color .4s;transition:background-color .4s}
#account-box>form button.login-btn{background-color:#0095d8}
#account-box>form button.login-btn:hover{background-color:#5fb3e1}
#account-box>form button.join-btn{margin-right:16px;background-color:#ef0029}
#account-box>form button.join-btn:hover{background-color:#f56068}
#account-box>form a.forget-btn{display:inline-block;vertical-align:middle;color:#959595;font-size:12px;text-decoration:none}
#account-box>form a.forget-btn:hover{color:#ff1818}
#check-code-wrapper{position:relative;display:inline-block;vertical-align:middle}
#captcha{position:absolute;top:13px;right:15px;width:auto;height:25px}
#agree{display:none;position:absolute;top:83%;right:63px;padding:2px 5px;color:#fff;font-size:12px;line-height:initial;z-index:1;background-color:#1b1b1b}
#agree a{font-weight:bold;cursor:pointer}
ul#account-info{position:relative;vertical-align:top}
ul#account-info>li{position:relative;display:inline-block;vertical-align:top;padding-right:22px;color:#444;font-size:12px}
ul#account-info>li+li{padding-right:20px}
ul#account-info>li:after{content:'|';position:absolute;top:0;right:9px;color:#444;font-size:12px}
ul#account-info>li>span.account{display:inline-block;max-width:6em;color:red;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;overflow:hidden}
ul#account-info>li a{cursor:pointer;color:#1f1ffe; }
ul#account-info>li a i{cursor:pointer;display: inline-block; width: 16px; height:16px; background: url('../images/icon_flush.svg') no-repeat center; background-size: 12px;}
ul#account-info>li a:hover{color:#1f1ffe}
#account-nav{vertical-align:middle}
#account-nav>li{display:inline-block;vertical-align:top;height:52px}
#account-nav>li+li:before{content:'|';padding:0 7px;color:#444;font-size:12px}
#account-nav>li>a{color:#444;font-size:12px;text-decoration:none}
#account-nav>li>a:hover{color:red}
#action-box{display:inline-block;vertical-align:top;margin:9px 0 0 16px}
#action-box a{display:block;color:#fff;width:69px;height:34px;font-size:12px;line-height:34px;text-align:center;text-decoration:none;background:red;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#content{position:relative;padding:0 0 10px;background-image:url('../images/bg.jpg');background-color:#f3f1f0;background-repeat:no-repeat;background-position:center top}
#news{position:relative;height:40px;margin-bottom:10px}
#news .wrapper{padding-right:20px;background:#fff}
#news .wrapper:before{content:'最新公告';float:left;width:93px;height:40px;padding-left:40px;color:#fff;font-size:12px;font-weight:700;letter-spacing:1px;line-height:40px;background:url('../images/news_bg.png') no-repeat left center}
#hot-news{white-space:nowrap;overflow:hidden}
#hot-news li{display:inline-block;height:40px;vertical-align:top;margin:0 5px;color:#666;font-size:12px;line-height:40px}
#hot-news li:hover{text-decoration:underline}
#footer{padding-bottom:21px;font-size:0;background:#1b1b1b}
#footer-info{display:block;margin-bottom:10px}
#footer-info>li{display:inline-block;vertical-align:top}
#footer-info>li>p.title{margin:0 0 11px;color:#fff;font-size:16px;line-height:55px;border-bottom:1px solid #292929}
#footer-info>li>ul{vertical-align:top}
#footer-info>li>ul>li>a{color:#646464;font-size:12px;line-height:30px;text-decoration:none;white-space:nowrap}
#footer-info>li>ul>li.red>a,#footer-info>li>ul>li>a:hover{color:#ff1818}
#footer-info>li.map{width:170px;margin-right:82px}
#footer-info>li.map>ul+ul{float:right}
#footer-info>li.help{width:64px;margin-right:89px;text-align:center}
#footer-info>li.contact{width:362px;margin-right:89px}
#footer-info>li.contact>p.title{margin-bottom:18px}
#footer-info>li.contact>ul.service-btn li{width:132px;height:62px;padding-top:30px;color:#888;font-size:23px;font-weight:700;text-align:center;background:no-repeat center}
#footer-info>li.contact>ul.service-btn li:hover{color:red}
#footer-info>li.contact>ul.service-btn li+li{margin-top:11px}
#footer-info>li.contact>ul.service-btn li[data-img="chat"]{padding-top:24px;font-size:29px;font-weight:bold;background-image:url('../images/service_chat.png')}
#footer-info>li.contact>ul.service-btn li[data-img="qq"]{background-image:url('../images/service_qq.png')}
#footer-info>li.contact>ul.service-detail{margin-left:27px;width:203px}
#footer-info>li.contact>ul.service-detail>li{color:#666;font-size:14px;line-height:30px;margin-bottom:16px;line-height:14px}
#footer-info>li.contact>ul.service-detail>li span:hover{color:#ff1818}
#footer-info>li.browser{width:144px}
#footer-info>li.browser>p.title{margin-bottom:17px}
#footer-info>li.browser>ul>li{display:inline-block;vertical-align:top;margin-right:15px}
#footer-info>li.browser>ul>li.no-margin{margin-right:0}
#footer-info>li.browser>ul>li a{display:inline-block;width:38px;padding-top:40px;text-align:center;line-height:normal;background-repeat:no-repeat;background-position:center top}
#footer-info>li.browser>ul>li.browser01,#footer-info>li.browser>ul>li.browser02,#footer-info>li.browser>ul>li.browser03{margin-bottom:26px}
#footer-info>li.browser>ul>li.browser03,#footer-info>li.browser>ul>li.browser06{margin-right:0}
#footer-info>li.browser>ul>li.browser01 a{background-image:url('../images/browser01.png')}
#footer-info>li.browser>ul>li.browser02 a{background-image:url('../images/browser02.png')}
#footer-info>li.browser>ul>li.browser03 a{background-image:url('../images/browser03.png')}
#footer-info>li.browser>ul>li.browser04 a{background-image:url('../images/browser04.png')}
#footer-info>li.browser>ul>li.browser05 a{background-image:url('../images/browser05.png')}
#footer-info>li.browser>ul>li.browser06 a{background-image:url('../images/browser06.png')}
#footer-logo{height:62px;margin-bottom:16px;background:url('../images/footer_logo.png') no-repeat center}
#footer-suggest{margin:0;color:#646464;font-size:12px;text-align:center;text-transform:uppercase}
#footer-suggest .white{color:#fff}
aside.services{
	position: absolute;
	z-index: 6;
	top: 3px;
	background: no-repeat center top
}
aside.service-left{
	left: -40px;
	background-image: url('../images/service/left.png')
}
aside.service-right{right:0;background-image:url('../images/service/right.png')}
aside.services ul>li{width:138px;color:red;text-align:center;background-position:center center;background-repeat:no-repeat}
aside.services ul>li>a{display:block;height:100%}
aside.services ul>li.mg{height:74px}
aside.services ul>li.register{height:62px}
aside.services ul>li.app{height:45px}
aside.services ul>li.slot{height:63px}
aside.services ul>li.promotion{height:107px}
aside.services ul>li.chat{height:60px}
aside.services ul>li.qq{height:53px;padding-top:25px;font-size:20px}
aside.services ul>li.compliant{height:35px}
aside.services ul>li.apply{height:51px}
aside.services ul>li.wechat{height:152px;text-align:center;padding-top:13px}
aside.services ul>li.closed{height:22px;width:86px;margin:0 auto;cursor:pointer}
#review-list{position:fixed;bottom:-77px;left:0;z-index:1;width:100%;height:77px;background:#000;background:rgba(0,0,0,.8);color:#fff;-webkit-transition:bottom .4s;-o-transition:bottom .4s;-moz-transition:bottom .4s;transition:bottom .4s}
#review-list.open{bottom:0}
#review-list .up,#review-list .down{position:absolute;top:-24px;left:0;width:150px;height:24px;line-height:24px;text-align:center;background:url('../images/review/tab.png') no-repeat}
#review-list .up:after,#review-list .down:after{content:'';display:inline-block;margin-left:5px;width:7px;height:8px}
#review-list .up:after{background:url('../images/review/up.png') no-repeat}
#review-list .down:after{background:url('../images/review/down.png') no-repeat}
#review-list .wrapper{padding-left:80px;height:77px;background:url('../images/review/txt.png') no-repeat 20px 15px}
#review-box li{display:inline-block;position:relative;margin:10px 8px 0;width:60px;height:60px}
#review-box li.no-review{line-height:60px}
#review-box li img{width:60px;height:60px}
#review-box li div{display:none;position:absolute;top:-31px;left:-5px;padding-top:2px;width:70px;height:29px;text-align:center;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:url('../images/review/title.png') no-repeat}
#review-box li:hover div{display:block}
#mailbox{position:relative;display:inline-block;width:24px;height:24px;vertical-align:sub;text-decoration:none;background:url('../images/m_icon.png') no-repeat}
#mailbox>span,#mailbox>span:hover{position:absolute;left:80%;bottom:60%;min-width:16px;padding:0 2px;height:16px;color:#000;font-size:12px;text-align:center;line-height:16px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#fff47e}
#marquee-wrapper{position:fixed;top:0;right:0;bottom:0;left:0;z-index:-1;display:none}
#marquee-wrapper.show{display:block;z-index:1000;background-image:url('../images/transparent-black.png')}
#marquee{width:600px;max-height:500px;margin:30px auto 0 auto;background-color:#fff;background-image:url('../images/table_background.jpg');-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;cursor:default;-moz-transition:margin-top ease-in 300ms;-o-transition:margin-top ease-in 300ms;-webkit-transition:margin-top ease-in 300ms;transition:margin-top ease-in 300ms}
#marquee>header{text-align:center;background-color:#e9e9e9;border-bottom:1px solid #ccc;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
#marquee>header>h2{margin:0;color:#0080e3;font-size:21px;line-height:60px}
ul#newsBags{margin:0;padding:10px 50px;max-height:380px;overflow:auto}
ul#newsBags>li{color:#454545;font-size:13px;line-height:27px;list-style:disc;white-space:pre-line;border-bottom:1px dashed #999}
#marquee>footer{text-align:center;line-height:80px;background-color:#e9e9e9;background-image:-webkit-radial-gradient(center top,ellipse farthest-side,rgba(0,0,0,.3),transparent);background-size:100% 8px;background-repeat:no-repeat;border-top:1px solid #ccc;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
#marquee>footer>span{display:inline-block;width:119px;font-size:15px;font-weight:bolder;line-height:45.5px;background-image:url('../images/sent_bn.png');cursor:pointer}
#marquee>footer>span:hover{background-position:0 -45.5px}
.ui-widget-header{min-height:30px;line-height:30px}
.ui-dialog{z-index:999}
.ui-dialog .ui-dialog-title{font-size:13px;line-height:15px}
.ui-dialog .ui-dialog-buttonpane{margin:0;padding:0;border:none}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{font-size:12px}
.ui-dialog .ui-dialog-buttonpane button{position:absolute;bottom:0;right:0;margin:3px 6px;background:#ffd800}
.ui-widget-overlay{}
#lobby{display:inline-block;color:#fff;font-size:12px;width:100%}
#lobby>ul.game-list{font-size:0;text-align:center}
#lobby>ul.game-list>li{position:relative;display:inline-block;vertical-align:top}
#lobby>ul.game-list>li i{position:absolute;background:#ff1818;-moz-transition:all .4s;-webkit-transition:all .4s;transition:all .4s}
#lobby>ul.game-list>li i.line-left{width:2px;height:0;left:0;bottom:0}
#lobby>ul.game-list>li i.line-right{width:2px;height:0;right:0;top:0}
#lobby>ul.game-list>li i.line-top{width:0;height:2px;left:0;top:0}
#lobby>ul.game-list>li i.line-bottom{width:0;height:2px;right:0;bottom:0}
#lobby>ul.game-list>li:hover i.line-left,#lobby>ul.game-list>li:hover i.line-right{height:100%}
#lobby>ul.game-list>li:hover i.line-top,#lobby>ul.game-list>li:hover i.line-bottom{width:100%}
#un-lobby{position:relative;display:inline-block;width:100%;margin:0 auto}
#un-lobby aside{position:absolute;top:0;bottom:0;width:236px;min-height:688px;border:1px solid #e5e5e5;background:#fff}
/*#un-lobby aside:after{content:'支持IOS&Android所有移动设备\a For IOS&Android QR Code';white-space:pre;display:block;width:201px;margin:30px auto 0;padding:250px 0 0;color:#7d7d7d;font-size:12px;line-height:25px;text-align:center;background:url('../images/aside/bottom.png')no-repeat center top}*/
#un-lobby aside>ul{display:block}
#un-lobby aside>ul li{position:relative;height:47px;border-bottom:1px solid #e5e5e5}
#un-lobby aside>ul li a{display:block;height:100%;padding-left:80px;color:#828282;font-size:16px;line-height:46px;text-decoration:none;-moz-transition:all .4s;-o-transition:all .4s;-webkit-transition:all .4s;transition:all .4s}
#un-lobby aside>ul li a:before,#un-lobby aside>ul li a:after{content:'';position:absolute;height:100%;background:no-repeat left center;-moz-transition:all .4s;-o-transition:all .4s;-webkit-transition:all .4s;transition:all .4s}
#un-lobby aside>ul li a:before{left:43px;width:27px;background-image:url('../images/aside/img01.png')}
#un-lobby aside>ul li a:after{left:180px;width:16px;background-image:url('../images/aside/icon01.png')}
#un-lobby aside>ul li a:hover{padding-left:90px;color:#ff1818;background-color:#ededed}
#un-lobby aside>ul li a:hover:before{left:53px;background-image:url('../images/aside/img02.png')}
#un-lobby aside>ul li a:hover:after{left:190px;background-image:url('../images/aside/icon02.png')}
#un-lobby ul#sidebar li.register a:before{background-position-y:0}
#un-lobby ul#sidebar li.partner a:before{background-position-y:-46px}
#un-lobby ul#sidebar li.about a:before{background-position-y:-92px}
#un-lobby ul#sidebar li.contact a:before{background-position-y:-143px}
#un-lobby ul#sidebar li.deposit a:before{background-position-y:-188px}
#un-lobby ul#sidebar li.withdrawal a:before{background-position-y:-237px}
#un-lobby ul#sidebar li.faq a:before{background-position-y:-285px}
#un-lobby ul#sidebar li.responsible a:before{background-position-y:-331px}
#un-lobby ul#sidebar li.private a:before{background-position-y:-378px}
#articles{float:right;width:756px;min-height:775px;padding:0 28px 20px;color:#959595;text-align:justify;background:#fff;border:1px solid #e5e5e5}
#articles h2{margin:0 0 30px;color:#ff1818;font-size:24px;font-weight:700;text-align:center;line-height:70px;border-bottom:1px solid #e5e5e5}
#articles h2:before,#articles h2:after{content:'';display:inline-block;width:7px;height:7px;margin:0 15px;vertical-align:middle;background:url('../images/h2_point.png') no-repeat center}
#articles h3{color:#ff1818;font-size:16px;text-align:left}
#articles h4{font-size:14px;color:#ff1818;text-align:left}
#articles>ul{list-style:none}
#articles ol{padding-left:20px;list-style-type:decimal}
#articles p,#articles li{font-size:13px;text-align:justify;line-height:2em}
#articles p{margin:1em 0}
#articles table{width:100%}
#articles table tr,#articles table th,#articles table td{line-height:2em;text-align:center;border:1px solid #000}
#articles table th{}
#articles .highlight{color:#ff1818}
#articles .highlight-green{color:#00b050}
#articles .highlight-cyan{color:#00b0f0}
#articles .highlight-purple{color:#b61aa7}
#articles ul.mtab-menual{display:block;margin:40px auto;font-size:0;text-align:center}
#articles ul.mtab-menual li{display:inline-block;width:103px;height:30px;color:#535353;font-size:15px;line-height:30px;text-align:center;cursor:pointer;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px}
#articles ul.mtab-menual li a{display:block;height:100%;color:inherit;text-decoration:none}
#articles ul.mtab-menual li.mtab,#articles ul.mtab-menual li:hover{color:#fff;background:#ff1818}
#articles ul.deposit-topInfo{display:block;padding:8px 0;border-bottom:1px dashed #d1d0cc}
#articles ul.deposit-bottomInfo{display:block;padding:8px 0;border-top:1px dashed #d1d0cc}
#articles ul.deposit{list-style-type:none}
#articles ul.deposit>li{padding:5px 0 16px;counter-increment:title}
#articles ul.deposit>li>a:before{content:"方式 " counter(title,upper-alpha)"、"}
#articles ul.deposit>li a{color:#dd4747;font-size:16px;text-decoration:none}
#articles ul.deposit>li a span.img-group{display:block;width:510px;font-size:0;line-height:14px}
#articles ul.deposit>li>p{margin-top:0}
.body{position:relative;width:1000px;margin:0 auto;padding:1px;font-size:14px;font-family:PMingLiU;background:#212121;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.body #title{color:#fff;text-align:center;background:#212121}
.body.container #title,.body #account-heading,.body #withdrawal-heading{color:#fff;background:#212121}
.body #show-account-info.btn{color:#fff}
.form-group .control-div input::-webkit-input-placeholder{color:#999}
.form-group .control-div input::-moz-placeholder{color:#999}
.form-group .control-div input:-ms-input-placeholder{color:#999}
.form-group .control-div input.placeholder{color:#999}
.panel{width:100%;color:#5f5f5f;background:url('https://cdn.weibo-hk.com/Web.Portal/_Common/Content/Views/Account/images/panel_background.jpg') repeat;border:0}
#title{height:48px;font-weight:bold;font-size:21px;font-family:'Microsoft JhengHei';text-transform:uppercase;border:none}
#title>div{margin-top:-1px;text-align:center;text-transform:uppercase}
#account-panel,#withdrawal-panel{width:792px;color:#5f5f5f;background:url('https://cdn.weibo-hk.com/Web.Portal/_Common/Content/Views/WithdrawApplication/images/panel_background.jpg') repeat;border:1px solid #b7b7b7;-moz-box-shadow:inset 0 0 1px 1px #fff;-webkit-box-shadow:inset 0 0 1px 1px #fff;box-shadow:inset 0 0 1px 1px #fff}
#account-heading,#withdrawal-heading{margin:1px 1px;font-family:PMingLiU;font-size:15px;font-weight:bold;text-align:left;text-transform:uppercase}
.panel-body{text-align:center}
.panel-body>form{width:700px;margin:0 auto}
.control-div input{width:100%;padding:3px 5px;line-height:25px;background:url('https://cdn.weibo-hk.com/Web.Portal/_Common/Content/Views/Account/images/input_center.png') repeat-y;border:0}
.control-div input:focus{outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,249,149,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,249,149,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,249,149,.6)}
.tooltip{position:absolute;left:93%;top:-2px;z-index:1;display:inline-block}
.tooltipshowarrow_int{position:absolute;top:5px;right:-1px;z-index:1000;display:block;border:8px solid;border-color:transparent #fff;border-left-width:0;-moz-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)}
.tooltipshowarrow_out{position:absolute;top:5px;right:0;z-index:999;display:block;border:8px solid;border-left-width:0;border-color:transparent #bbb;-moz-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)}
.tooltipshow{position:absolute;z-index:999!important;width:250px;padding:5px;background-color:#fff;border:1px solid;border-color:#bbb #bbb #a8a8a8;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0,0,0,.2);-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);box-shadow:0 1px 3px rgba(0,0,0,.2)}
.form-control::-webkit-input-placeholder{color:#878787}
.form-control:-moz-placeholder{color:#878787}
.form-control::-moz-placeholder{color:#878787}
.form-control:-ms-input-placeholder{color:#878787}
.input-block{position:relative;display:inline-block;width:304px}
.help-block{color:#8a6d3b}
.input-block-top{position:absolute;top:-2px;left:0;display:inline-block;width:100%;height:4px;background:url('https://cdn.weibo-hk.com/Web.Portal/_Common/Content/Views/Account/images/input-top-btm.png') no-repeat 0 0}
.input-block-btm{position:absolute;bottom:-8px;left:0;display:inline-block;height:10px;width:100%;background:url('https://cdn.weibo-hk.com/Web.Portal/_Common/Content/Views/Account/images/input-top-btm.png') no-repeat 0 -4px}
.btn-submit{position:relative;width:119px;height:45px;color:#454545;font-size:15px;font-family:PMingLiU;font-weight:bold;background:url('../images/sent_bn.png') no-repeat 0 0;border:0}
.btn-submit:hover{color:#454545;background:url('../images/sent_bn.png') no-repeat 0 -46px}
.btn-submit[disabled]:hover{color:#999;background-position-y:0}
.table{color:#000}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{line-height:2em}
table tfoot{text-align:center;background:#eee}
#popup-dialog{display:none;padding:0}
#popup-dialog img{width:100%;height:auto!important}
#popup-dialog .dialog-footer{height:30px;padding:0 3px;font-size:12px;font-weight:bold;line-height:29px;border-top:1px solid #000}
ul#newsBags>li{white-space:pre-line;word-break:break-all;word-wrap:break-word}
.modal-overlay{position:fixed;top:0;left:0;width:100%;height:100%;z-index:10000;background-color:#000;visibility:hidden;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s}
.modal-overlay.modal-show{visibility:visible;opacity:.6}
.modal-announcement{position:fixed;top:7%;left:50%;margin-left:-499px;width:1000px;z-index:10000;visibility:hidden;-moz-transform:scale(.5);-ms-transform:scale(.5);-o-transform:scale(.5);-webkit-transform:scale(.5);transform:scale(.5);opacity:0;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.modal-announcement.modal-show{visibility:visible;-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);opacity:1}
.modal-announcement>.ma-noshow{padding-bottom:2px;text-align:right}
.modal-announcement>.ma-noshow span{margin:0 5px;color:#fff;font-size:14px}
.modal-announcement>.ma-title{min-height:38px;padding:7px 0;color:#fff;text-align:center;word-break:break-all;background-color:#c03;border-bottom:2px solid #ccc;-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0}
.modal-announcement>.ma-title>span{font-size:18px;font-weight:bold}
.modal-announcement>.ma-title>i{float:right;margin:2px 20px 0 0;font-size:22px;cursor:pointer}
.modal-announcement>.ma-body>section{height:560px;display:inline-block;vertical-align:top}
.modal-announcement .ma-sidebar{width:27%;background-color:#fff;border-right:1px solid #d6d6d6;overflow-y:auto;overflow-x:hidden}
.modal-announcement .ma-sidebar ul{width:100%}
.modal-announcement .ma-sidebar li{width:100%;height:50px;padding:0 12px;color:#000;line-height:49px;border-bottom:1px solid #ccc;cursor:pointer}
.modal-announcement .ma-sidebar li span{display:inline-block;width:80%;vertical-align:top;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.modal-announcement .ma-sidebar li:hover,.modal-announcement .ma-sidebar li.active{color:#fff;background-color:#c03}
.modal-announcement .ma-sidebar i.fa-comment-dots{vertical-align:middle;margin-right:10px}
.modal-announcement .ma-sidebar i.fa-chevron-right{float:right;margin-top:19px}
.modal-announcement .ma-content{width:73%;background-color:#fff;overflow:auto}
.modal-announcement .ma-content img{max-width:100%;height:auto;vertical-align:top}
.modal-announcement>.ma-footer{height:10px;background-color:#c03;-moz-border-radius:0 0 8px 8px;-webkit-border-radius:0 0 8px 8px;border-radius:0 0 8px 8px}
.modal-announcement>.ma-body>section::-webkit-scrollbar{width:10px;height:3px}
.modal-announcement>.ma-body>section::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2);background:#535353}
.modal-announcement>.ma-body>section::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2);border-radius:10px;background:#ededed}
[ng-controller="LobbiesCtrl"] iframe{-moz-transition:none!important;-o-transition:none!important;-webkit-transition:none!important;transition:none!important}
[ng-controller="LobbiesCtrl"] iframe.ng-hide{display:block!important;height:0!important;visibility:hidden!important}
